* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #8edff386;
}
 

.sidebar {
    position: fixed;

    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar h2 {
    color: #ecf0f1;
    font-size: 24px;
}

.sidebar-menu {
    list-style-type: none;
}


.sidebar-menu li {
    padding: 10px 0;
    font-size: 18px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar-menu li a:hover {
    background-color: #8dc2f7;
}

.accounts-content {
    display: none;
    list-style-type: none;
    margin-left: 20px;
}

.sidebar-menu li:hover .accounts-content {
    display: block;
}

section{

    margin-bottom: 800px;
}
.sections{
    margin-left: 300px;
}

.section-content{
    font-family: Georgia, serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: -3.8px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: none;

text-shadow: 1px 3px 0 #3c65b1bd, 1px 13px 5px #1e1bb385;

}