* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 44px;
    color: #1d3338;
    font-size: 24px;
    position: fixed;
    background-color: #6a90b6;
    
}
body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #8edff3;
}
.sections{    margin-top: 3%;}

.sidebar {
    position: fixed;
    margin-top: 3%;
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar h2 {
    color: #ecf0f1;
    font-size: 24px;
}

.sidebar-menu {
    list-style-type: none;
}

.sidebar-menu li {
    padding: 10px 0;
    font-size: 18px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar-menu li a:hover {
    background-color: #6a90b6;
}

.accounts-content {
    display: none;
    list-style-type: none;
    margin-left: 20px;
}

.sidebar-menu li:hover .accounts-content {
    display: block;
}

section{
    margin-top: 100px;
    margin-bottom: 300px;
}
.sections{
    margin-left: 300px;
}